@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$primary-color: #00CC66;
$secondary-color: black;
$tertiary-color: #FB4B4E;

$background: #ECECEC;

$font: "Roboto", sans-serif;
$font-bold: bold;
$large-font: 2rem;
$medium-font: 1.2rem;
$anchor-font: 0.8rem;

$base-padding: 0.75rem;
$base-margin: 0.75rem;
$border-radius: 0.4rem;